.footer {
  background-color: #ffffff; /* sfondo scuro */
  color: #000000;
  padding: 40px 20px;
  margin-top: 50px;
}

.footer-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #05935a; 
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer p {
  font-size: 0.95rem;
  margin: 5px 0;
}

.footer-line {
  border-top: 2px solid #05935a;
  margin: 20px auto;
  width: 60%;
}

.footer-copy {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 10px;
}

/* Icone social */
.social-icons a {
  color: #0f6e48; /* verde oliva */
  font-size: 2.2rem;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #fff; /* bianco al passaggio */
  transform: scale(1.2);
}
.borderFooter{
  border-top: 5px solid #05935a;
}
